@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 50, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gold: #ffea85;
  --gold2:#ba9b03;
  --dark-gray: #919191;

  /* Component widths */
  --md-nav-width: 150px;
  --lg-nav-width: 400px;
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 253, 253;
    --background-end-rgb: 255, 253, 253;
  }
}
/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--gold2))
    )
    rgb(var(--background-start-rgb));
} */
